@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.body
{
    background-color: rgb(161, 159, 159);
}

.header_bar
{
    display: flex;
    justify-content: space-between;
    font-size: 90px;
    font-family: 'Caveat', cursive;
    margin-bottom: 100px;
    padding: 0px 100px;
}


.game_area,
.result
{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Caveat', cursive;
    flex-wrap: wrap ;
    padding: 20px;
}

.game_area
{
    font-size: 200px;
}

.result
{
    font-size: 90px;
}

.response 
{
    align-self: center;
    height: 200px;
    width: 400px;
    font-size: 200px;
    font-family: 'Caveat', cursive;
    border: 3px solid black;
    outline: 0;
    background-color: rgb(161, 159, 159);
    margin-left: 30px;
}

.response:focus 
{
    border: 3px solid black;
    outline: 0;
}
