/*CSS Styles for Minute Math Quiz*/

/*Import fonts from Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.body
{
    background-color: rgb(161, 159, 159);
}

.header_bar
{
    display: flex;
    justify-content: space-between;
    font-size: 90px;
    font-family: 'Caveat', cursive;
    margin-bottom: 100px;
    padding: 0px 100px;
}

.game_area,
.result
{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Caveat', cursive;
    flex-wrap: wrap ;
    padding: 20px;
}

.game_area
{
    font-size: 200px;
}

.result
{
    font-size: 90px;
}

.response 
{
    align-self: center;
    height: 200px;
    width: 400px;
    font-size: 200px;
    font-family: 'Caveat', cursive;
    border: 3px solid black;
    outline: 0;
    background-color: rgb(161, 159, 159);
    margin-left: 30px;
}

.menu
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button
{
    width: 400px;
    height: 70px;
}

.options,
.subselections
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options
{
    margin: 50px 0px;
}

.selections
{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

/* 
Shake element
https://www.w3schools.com/howto/howto_css_shake_image.asp
*/
.shake_element
{
    animation: shake 0.50s;
}

@keyframes shake 
{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}